
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Take Test</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="showModal">
  <app-dialog [(visible)]="showModal">
    <img [src]="modalImage" />
  </app-dialog>
</div>
<ion-content *ngIf="!reloading" (loadNext)="onLoadNext()">
  <div class="splash" *ngIf="showSpinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
    <div #dropBlock id="footer" *ngIf='isDragable'></div>  
      <ion-grid>
          <ion-row color="primary" justify-content-center>
            <!--(cdkDragStarted)=startedDragging($event)-->
            <div #dragable1 [id]="testImages[0].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[0].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition1" (cdkDragReleased)=released($event) style="z-index: 999;">
              <img [src]="testImages[0].src" (load)="imageLoaded()" (click)="selectImage(testImages[0].src)"/> 
            </div>
            <div #dragable2 [id]="testImages[1].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[1].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition2" (click)="selectImage(testImages[1].src)" (cdkDragReleased)=released($event) style="z-index: 998;">
              <img [src]="testImages[1].src" (load)="imageLoaded()"/> 
            </div>
            <div #dragable3 [id]="testImages[2].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[2].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition3" (click)="selectImage(testImages[2].src)" (cdkDragReleased)=released($event) style="z-index: 997;">
              <img [src]="testImages[2].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable4 [id]="testImages[3].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[3].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition4" (click)="selectImage(testImages[3].src)" (cdkDragReleased)=released($event) style="z-index: 996;">
              <img [src]="testImages[3].src" (load)="imageLoaded()" />  
            </div>
          </ion-row>
          <ion-row color="primary" justify-content-center>
            <div #dragable5 [id]="testImages[4].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[4].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition5" (click)="selectImage(testImages[4].src)" (cdkDragReleased)=released($event) style="z-index: 995;">
              <img [src]="testImages[4].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable6 [id]="testImages[5].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[5].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition6" (click)="selectImage(testImages[5].src)" (cdkDragReleased)=released($event) style="z-index: 994;">
              <img [src]="testImages[5].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable7 [id]="testImages[6].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[6].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition7" (click)="selectImage(testImages[6].src)" (cdkDragReleased)=released($event) style="z-index: 993;">
              <img [src]="testImages[6].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable8 [id]="testImages[7].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[7].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition8" (click)="selectImage(testImages[7].src)" (cdkDragReleased)=released($event) style="z-index: 992;">
              <img [src]="testImages[7].src" (load)="imageLoaded()" />  
            </div>
          </ion-row>
          <ion-row color="primary" justify-content-center>
            <div #dragable9 [id]="testImages[8].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[8].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition9" (click)="selectImage(testImages[8].src)" (cdkDragReleased)=released($event) style="z-index: 991;">
              <img [src]="testImages[8].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable10 [id]="testImages[9].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[9].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition10" (click)="selectImage(testImages[9].src)" (cdkDragReleased)=released($event) style="z-index: 990;">
              <img [src]="testImages[9].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable11 [id]="testImages[10].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[10].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition11" (click)="selectImage(testImages[10].src)" (cdkDragReleased)=released($event) style="z-index: 989;">
              <img [src]="testImages[10].src" (load)="imageLoaded()" />  
            </div>
            <div #dragable12 [id]="testImages[11].src" [cdkDragDisabled]="!isDragable" *ngIf='testImages[11].display' class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragablePosition12" (click)="selectImage(testImages[11].src)" (cdkDragReleased)=released($event) style="z-index: 988;">
              <img [src]="testImages[11].src" (load)="imageLoaded()" />  
            </div>
          </ion-row>
      </ion-grid>
</ion-content>